.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

.description {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.resume-table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.resume-table th,
.resume-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.resume-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f2f2f2;
    color: #333;
}

.highlight {
    background-color: yellow;
}
